@import "../../util.scss";

.start-record-button {
  background: white;
  color: black;
  border: 1px solid #000 !important;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: 40px;
}

.start-button-container {
  width: 100%;
  height: 400px;
  display: grid;
  place-items: center;
  background: #000;
}

.recorder-video-container {
  width: 100%;
  height: 400px;
  video {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .spin-container {
    width: 100%;
    height: 90%;
    display: grid;
    place-items: center;
  }
}

.screen-reocrd-footer {
  float: right;
  margin: 10px 0;
}
